In [30]:
import pandas as pd
import numpy as np

In [31]:
df = pd.read_csv('./PRSA_data_2010.1.1-2014.12.31.csv')
df

,No,year,month,day,hour,pm2.5,DEWP,TEMP,PRES,cbwd,Iws,Is,Ir
0,1,2010,1,1,0,NaN,-21,-11.0,1021.0,NW,1.79,0,0
1,2,2010,1,1,1,NaN,-21,-12.0,1020.0,NW,4.92,0,0
2,3,2010,1,1,2,NaN,-21,-11.0,1019.0,NW,6.71,0,0
3,4,2010,1,1,3,NaN,-21,-14.0,1019.0,NW,9.84,0,0
4,5,2010,1,1,4,NaN,-20,-12.0,1018.0,NW,12.97,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
43819,43820,2014,12,31,19,8.0,-23,-2.0,1034.0,NW,231.97,0,0
43820,43821,2014,12,31,20,10.0,-22,-3.0,1034.0,NW,237.78,0,0
43821,43822,2014,12,31,21,10.0,-22,-3.0,1034.0,NW,242.70,0,0
43822,43823,2014,12,31,22,8.0,-22,-4.0,1034.0,NW,246.72,0,0
43823,43824,2014,12,31,23,12.0,-21,-3.0,1034.0,NW,249.85,0,0

In [32]:
df.isna().sum()

No          0
year        0
month       0
day         0
hour        0
pm2.5    2067
DEWP        0
TEMP        0
PRES        0
cbwd        0
Iws         0
Is          0
Ir          0
dtype: int64

In [33]:
df = df.dropna()
df.dtypes

No         int64
year       int64
month      int64
day        int64
hour       int64
pm2.5    float64
DEWP       int64
TEMP     float64
PRES     float64
cbwd      object
Iws      float64
Is         int64
Ir         int64
dtype: object

In [34]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
df['cbwd'] = le.fit_transform(df['cbwd'])

df = df.iloc[:,1:] # remove row number column
df

/var/folders/l4/ngfzh79n7kl3fb2wpwpc9zj80000gn/T/ipykernel_36945/2878496251.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['cbwd'] = le.fit_transform(df['cbwd'])

       year  month  day  hour  pm2.5  DEWP  TEMP    PRES  cbwd     Iws  Is  Ir
24     2010      1    2     0  129.0   -16  -4.0  1020.0     2    1.79   0   0
25     2010      1    2     1  148.0   -15  -4.0  1020.0     2    2.68   0   0
26     2010      1    2     2  159.0   -11  -5.0  1021.0     2    3.57   0   0
27     2010      1    2     3  181.0    -7  -5.0  1022.0     2    5.36   1   0
28     2010      1    2     4  138.0    -7  -5.0  1022.0     2    6.25   2   0
...     ...    ...  ...   ...    ...   ...   ...     ...   ...     ...  ..  ..
43819  2014     12   31    19    8.0   -23  -2.0  1034.0     1  231.97   0   0
43820  2014     12   31    20   10.0   -22  -3.0  1034.0     1  237.78   0   0
43821  2014     12   31    21   10.0   -22  -3.0  1034.0     1  242.70   0   0
43822  2014     12   31    22    8.0   -22  -4.0  1034.0     1  246.72   0   0
43823  2014     12   31    23   12.0   -21  -3.0  1034.0     1  249.85   0   0

[41757 rows x 12 columns]

In [35]:
# convert to datetime
df['datetime'] = pd.to_datetime(df[['year','month','day','hour']], format='%Y/%m/%d, %H')

In [36]:
df = df.drop(['year','month','day','hour'], axis = 1)
df = df.reset_index()
df = df[['datetime','pm2.5','DEWP','PRES','cbwd','Iws','Is','Ir']]
df

                 datetime  pm2.5  DEWP    PRES  cbwd     Iws  Is  Ir
0     2010-01-02 00:00:00  129.0   -16  1020.0     2    1.79   0   0
1     2010-01-02 01:00:00  148.0   -15  1020.0     2    2.68   0   0
2     2010-01-02 02:00:00  159.0   -11  1021.0     2    3.57   0   0
3     2010-01-02 03:00:00  181.0    -7  1022.0     2    5.36   1   0
4     2010-01-02 04:00:00  138.0    -7  1022.0     2    6.25   2   0
...                   ...    ...   ...     ...   ...     ...  ..  ..
41752 2014-12-31 19:00:00    8.0   -23  1034.0     1  231.97   0   0
41753 2014-12-31 20:00:00   10.0   -22  1034.0     1  237.78   0   0
41754 2014-12-31 21:00:00   10.0   -22  1034.0     1  242.70   0   0
41755 2014-12-31 22:00:00    8.0   -22  1034.0     1  246.72   0   0
41756 2014-12-31 23:00:00   12.0   -21  1034.0     1  249.85   0   0

[41757 rows x 8 columns]